@import url(./styles/reset.css);
@import url(./styles/ui.css);

/* /////////////////////////////// */
/* /////////////////////////////// */

body {
  height: auto;
  min-height: 100%;
  padding: 1rem;
  background-color: var(--light-bg);
  color: var(--dark-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-card {
  position: relative;
  width: 450px;
  min-height: 50dvh;
  padding: 3rem 2.5rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 0 0 1px var(--light-border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  overflow: hidden;
}

#editForm.hidden {
  display: none;
}

@media (max-width: 414px) {
  body {
    padding: 0;
    align-items: flex-start;
  }
  .edit-card {
    border-radius: 0;
    padding: 1.5rem;
    padding-top: 4rem;
    min-height: 100dvh;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.edit-card.incorrect #nameInputEdit {
  border-color: #ff9eb1;
  background-color: hsl(348, 100%, 95%);
}
.edit-card.incorrect label:has(#nameInputEdit) {
  color: crimson;
}

.form-group ~ .round-btn {
  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 47%);
  z-index: 2; */
  justify-self: center;
  margin-top: -0.5rem;
}

.btn-group .round-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, 50%);
}

/*/////// loading skin ///////*/

.edit-card.loading input {
  border: none;
  background-color: var(--light-bg);
}

.edit-card.loading label {
  opacity: 0;
}

.edit-card.loading .btn, .edit-card.loading .round-btn {
  display: none;
}