@import url(./styles/reset.css);
@import url(./styles/ui.css);

/* /////////////////////////////// */
/* /////////////////////////////// */

body {
  height: auto;
  min-height: 100%;
  padding: 1rem;
  background-color: var(--light-bg);
  color: var(--dark-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-card {
  position: relative;
  width: 450px;
  min-height: 50dvh;
  padding: 3rem 2.5rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 0 0 1px var(--light-border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  overflow: hidden;
}

#editForm.hidden {
  display: none;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.input-row input {
  flex: 1 1 auto;
}
.input-row .input-row-btn {
  flex: 0 0 auto;
}

@media (max-width: 400px) {
  body {
    padding: 0;
    align-items: flex-start;
  }
  .edit-card {
    border-radius: 0;
    padding: 1.5rem;
    padding-top: 4rem;
    min-height: 100dvh;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.edit-card.incorrect #nameInputEdit {
  border-color: #ff9eb1;
  background-color: hsl(348, 100%, 95%);
}
.edit-card.incorrect label:has(#nameInputEdit) {
  color: crimson;
}

.qr-container {
  display: none;
}

.qr-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--white);
  cursor: pointer;
}

.qr-container canvas {
  width: 100%;
}

.qr-container h1 {
  line-height: 1.2;
  font-size: 2rem;
  text-align: center;
}
.qr-container p {
  color: var(--light-color);
  font-size: 1.1rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.4;
  margin-top: -0.5rem;
}