@import url(./styles/reset.css);
@import url(./styles/ui.css);

/* /////////////////////////////// */
/* /////////////////////////////// */

body {
  height: 100dvh;
  padding: 1rem;
  background-color: var(--light-bg);
  color: var(--dark-color);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  line-height: 1;
}

.login-card {
  position: relative;
  width: 450px;
  /* min-height: 50dvh; */
  padding: 3rem 2.5rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 0 0 1px var(--light-border-color);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  margin-top: 10dvh;
}

.tab-buttons {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  /* box-shadow: inset 0 0 0 1px var(--light-border-color); */
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--light-bg);
}
.tab-buttons button {
  border-radius: 1rem;
  flex: 1;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: var(--light-color);
}
.tab-buttons button.active {
  color: var(--white);
  font-weight: bold;
  background-color: var(--dark-bg);
}
.tab-content {
  display: none;
  position: relative;
}
.tab-content.active {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: pink; */
}

@media (max-width: 414px) {
  body {
    padding: 0;
    align-items: flex-start;
  }
  .login-card {
    border-radius: 0;
    padding: 1.5rem;
    padding-top: 4rem;
    min-height: 100dvh;
    margin-top: 0;
  }
}

/*//////////  Messages  //////////*/

#loginContainer.incorrect input {
  border-color: #ff9eb1;
  background-color: hsl(348, 100%, 95%);
}
#loginContainer.incorrect label {
  color: crimson;
}
/*
#loginContainer.incorrect label:after {
  content: 'incorrect';
  color: var(--white);
  background-color: crimson;
  height: 1.5rem;
  padding: 0 0.85rem;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
*/
#registerContainer.incorrect #usernameInputReg {
  border-color: #ff9eb1;
  background-color: hsl(348, 100%, 95%);
}
#registerContainer.incorrect label:has(#usernameInputReg) {
  color: crimson;
}
/*
#registerContainer.incorrect label:has(#usernameInputReg):after {
  content: 'already exist';
  color: var(--white);
  background-color: crimson;
  height: 1.5rem;
  padding: 0 0.85rem;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
*/

#registerContainer input.valid {
 border-color: #6ec540;
 background-color: hsl(115, 100%, 95%);
}
#registerContainer input.invalid {
  position: relative;
  border-color: #ff9eb1;
  background-color: hsl(348, 100%, 95%);
}

#registerContainer label:has(input.invalid):after {
  content: 'already exist';
  color: var(--white);
  background-color: crimson;
  height: 1.5rem;
  padding: 0 0.85rem;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
#registerContainer label:has(#confirmPasswordInputReg.invalid):after {
  content: "doesn't match";
}