@import url(./styles/reset.css);
@import url(./styles/ui.css);

/* /////////////////////////////// */
/* /////////////////////////////// */

body {
  height: auto;
  min-height: 100dvh;
  padding: 1rem;
  background-color: var(--light-bg);
  color: var(--dark-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card {
  position: relative;
  width: min(100%, 450px);
  padding: 3rem 2rem;
  background-color: var(--white);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  box-shadow: 0 0 0 1px var(--light-border-color);
}

#profileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#profileData.hidden {
  display: none;
}

.avatar {
  flex: 0 0 auto;
  background-color: var(--light-bg);
  height: 7rem;
  width: 7em;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -8rem;
  box-shadow: 0 0 0 9px var(--white), 0 0 0 10px var(--light-border-color);
}
.avatar img, .avatar div {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatar div {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.avatar span {
  font-size: 3rem;
  font-weight: 400;
}

.profile-card h1 {
  line-height: 1.2;
  font-size: 2rem;
  text-align: center;
}
.profile-card p {
  color: var(--light-color);
  font-size: 1.1rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.4;
  margin-top: -0.5rem;
  margin-bottom: 0.75rem;
}

.profile-btn-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
}

.profile-card .btn {
  box-shadow: 0 0 0 0.5rem var(--white), 0 0 0 calc(0.5rem + 1px) var(--light-border-color);
}

p.error {
  color: var(--error-color);
  font-weight: 200;
  margin: 0;
}

.button-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0, -130%);
  display: flex;
  justify-content: space-between;
}

.close {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  text-decoration: none;
}

@media (max-width: 400px) {
  body {
    padding: 0;
    align-items: flex-start;
  }

  .profile-card {
    margin-top: 9rem;
    border-radius: 0;
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    min-height: calc(100dvh - 9rem);
  }

  .avatar {
    margin-top: -9rem;
  }
  
  .profile-card .btn {
    margin-bottom: 0;
  }

  .button-container {
    position: relative;
    inset: auto;
    transform: translate(0, 0);

    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

/*/////// loading placeholders ///////*/

.profile-card h1.loading {
  width: 250px;
  height: calc(2rem * 1.2);
  background-color: var(--light-bg);
  border-radius: 0.75rem;
}

.profile-card p.loading {
  width: 150px;
  height: calc(1.1rem * 1.4);
  background-color: var(--light-bg);
  border-radius: 0.75rem;
}

.profile-card .btn.loading {
  background-color: var(--light-bg);
  width: 166px;
  height: 3.5rem;
  cursor: default;
}

/*/////// QR code ///////*/

.qr-container {
  display: none;
}

.qr-container.active {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--white);
  padding: 1rem;
  cursor: pointer;
}

.qr-container canvas {
  width: min(80vw, 80vh);
}

.qr-container p {
  color: var(--light-color);
  font-size: 1.1rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.4;
  margin: 0;
  padding: 0;

  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
}